body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: rgba(157, 190, 187, 1);
}



/* ------ DUCK-FORM "BACKGROUND" STYLING */

.form_layout {
    display: flex;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.yellow-area {
    max-width: 345px;
    width: 100%;
    min-height: 594px;
    background-color: rgba(255, 176, 57, 1);
}

.red-area {
    max-width: 954px;
    width: 100%;
    min-height: 594px;
    background-color: rgba(190, 9, 9, 1);

    font-family: 'Roboto', sans-serif;
    color: rgba(252, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: left;
}



/* ----- FORM STYLING ----- */

.duck-form {
    padding: 60px;
}

input[type=text] {
    width: auto;
    padding: 10px 10px; 
    border: none;
    border-bottom: 1px solid rgba(157, 190, 187, 1);
    background-color: rgba(190, 9, 9, 1);
    color: rgba(252, 255, 255, 1);
}

input[type=email] {
    width: auto;
    padding: 12px; 
    border: none;
    border-bottom: 1px solid rgba(157, 190, 187, 1);
    background-color: rgba(190, 9, 9, 1); 
    color: rgba(252, 255, 255, 1);
}

textarea {
    width: auto;
    padding: 12px; 
    border: none;
    border-bottom: 1px solid rgba(157, 190, 187, 1);
    background-color: rgba(190, 9, 9, 1);
    color: rgba(252, 255, 255, 1);
}

label {
    cursor: auto;
}

input:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    color: rgba(252, 255, 255, 1);
}

textarea:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    color: rgba(252, 255, 255, 1);
}

::placeholder {
    color: rgba(223, 237, 237, 0.638);
}

/* ---- DUCK img. PLACEMENT ---- */

.duck {
    position: absolute;
    margin-left: 600px;
    margin-top: -550px;
}
/* QUESTION: Is it ok to use large margins with the position property? */



/* ------ BUTTON STYLING ------ */

/* design styles */ 
button 
{      
    background-color: rgba(70, 129, 137, 1);
    width: 202px;
    height: 48px;
    border-radius: 40px;
    border: none;

    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;   

    cursor: pointer;
}

/* hover effect */
button:hover {
    background-color: rgb(61, 144, 153);
}

.button:disabled {
	background-color: #dfdfdc;
	color: rgb(226, 247, 247);
	opacity: 0.6;
}

/* button <div> - placement & sizs styles */ 
.btn 
{    
    display: flex;
    justify-content: center;
}



/* ------ VALIDATION STYLES ------ */
/* QUESTION: Wanted to do more with validation.. but the pop-up errors were all default style so I got confused..
    Not really sure if I did this part enough or correct? Also running out of time so I haven't had much time to look into it.*/